@use 'mixin';

.portfolio-section {
    @include mixin.background-image;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.card-body {
    a {
    text-decoration: none;
    color: black;
    }
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

