@use 'header';
@use 'footer';
@use 'home';
@use 'contact';
@use 'eventsandportraits';
@use 'portfolio';
@use 'media';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}