@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


/* Reset CSS */

/* Body */
body {
  background-color: #1b1b1b;
}
/* Body */

/* Header */

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.volver {
  align-self: flex-start;
  padding: 20px;
}

/* Header */

/* Main Section */

main {
  padding: 20px;
  color: white;
  background-color: #1b1b1b;
  font-family: 'Bebas Neue', sans-serif;
}

.about-me {
  margin-top: 20px;
}
/* Main Section */

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 150px;
  grid-template-rows: auto 40px;
  grid-template-areas:
    "links social image"
    "copy  copy   copy";
  gap: 20px;
  background-color: #222;
  color: #fff;
  padding: 20px;
  align-items: center;
}

.nav-footer {
  grid-area: links;
}

.social {
  grid-area: social;
}

.footerimg {
  grid-area: image;
  width: 100%;
}

.footerimg:hover {
  transform: scale(1.05);
  opacity: 0.8;
  border-radius: 20px;
}

.copy {
  grid-area: copy;
  text-align: center;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links-footer li,
.links-redes li {
  margin-bottom: 5px;
}

.social p {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Footer */